$link-color: #1faa49;

@import "node_modules/bootstrap/scss/bootstrap.scss";

@import 'fonts.scss';

.nav-pills {
    --bs-nav-pills-border-radius: 2px;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #1faa49;
}

.nav {
    --bs-nav-link-padding-x: 0.9rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: var(--bs-text-dark);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

:root {
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}