$link-color: #1faa49;

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "./node_modules/bootstrap/scss/variables";
// @import "./node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
// All you need are in bootstrap documentation


// 5. Include remainder of required parts
@import "./node_modules/bootstrap/scss/maps";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "./node_modules/bootstrap/scss/bootstrap.scss";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
// @import "./node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

@import 'fonts.scss';

.nav-pills {
    --bs-nav-pills-border-radius: 2px;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #1faa49;
}

.nav {
    --bs-nav-link-padding-x: 0.9rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: var(--bs-text-dark);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media screen and (max-width: 748px) {
    .nav {
        padding-left: 12px;
    }
}

:root {
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}